<% layout('layout/layout')%>

<div>
    <table>
        <thead>
            <tr>
                <th>
                    <div>번호</div>
                </th>
                <th>
                    <div>제목</div>
                </th>
                <th>
                    <div>작성자</div>
                </th>
                <th>
                    <div>작성일</div>
                </th>
                <th>
                    <div>추천</div>
                </th>
                <th>
                    <div>조회</div>
                </th>
            </tr>
        </thead>
        <tbody>
            <% for (var i = 0; i < post.length; i++) {%>
            <tr>
                <td><%= post[i].id %></td>
                <td><a href="/board/<%= boardAlias %>/<%= post[i].id %>"><%= post[i].title %></a></td>
                <td><span style="cursor:pointer;"><%= post[i].nickname %></span></td>
                <td><%= post[i].date_time %></td>
                <td><%= post[i].recommendation %></td>
                <td><%= post[i].views %></td>
            </tr>
            <%}%>
        </tbody>
    </table>
    <table>
        <tbody>
            <tr>
            <% if(currentPage > 1) {%>
                <td><a href="/board/<%= boardAlias %>?page=<%= currentPage-1 %>&limit=<%= limit %>" title="이전페이지">이전페이지</a></td>
            <%}%>
                <td>
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                <% if(firstPageLink) {%>
                                    <a href="/board/<%= boardAlias %>?page=<%= firstPageLink %>&limit=<%= limit %>"><%= firstPageLink %>..</a>
                                <%}%>
                                <% for (var i = 0; i < pageSelectorRange.length; i++) {%>
                                    <a href="/board/<%= boardAlias %>?page=<%= pageSelectorRange[i] %>&limit=<%= limit %>"><%- currentPage===pageSelectorRange[i]? `<strong>${pageSelectorRange[i]}</strong>` : pageSelectorRange[i] %></a>
                                <%}%>
                                <% if(lastPageLink) {%>
                                    <a href="/board/<%= boardAlias %>?page=<%= lastPageLink %>&limit=<%= limit %>">..<%= lastPageLink %></a>
                                <%}%>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            <% if(currentPage < totalPageCnt) {%>
                <td><a href="/board/<%= boardAlias %>?page=<%= currentPage+1 %>&limit=<%= limit %>" title="다음페이지">다음페이지</a></td>
            <%}%>
                <td>
                    <% if(loginUser){%>
                    <a href="/board/<%= boardAlias %>/writing" title="글쓰기">글쓰기</a>
                    <%}%>
                    <a href="" title="새로고침">새로고침</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>