<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <div>
    <h1><a href="/"><%= title %></a></h1>
  </div>
  <div style="color: red;">
    <%= feedback %>
  </div>
  <div>
    <form action="/signin/signin_process" method="POST">
        <div>
            <label>이메일:</label>
            <input type="text" name="email" value="<%= existingInfo.email %>"/>
        </div>
        <div>
            <label>비밀번호:</label>
            <input type="password" name="password" value="<%= existingInfo.password %>"/>
        </div>
        <div>
            <label>비밀번호 확인:</label>
            <input type="password" name="confirmPassword" value="<%= existingInfo.confirmPassword %>"/>
        </div>
        <div>
            <label>이름:</label>
            <input type="text" name="name" value="<%= existingInfo.name %>"/>
        </div>
        <div>
            <label>닉네임:</label>
            <input type="text" name="nickname" value="<%= existingInfo.nickname %>"/>
        </div>
        <div>
            <label>주소:</label>
            <input type="text" name="address" value="<%= existingInfo.address %>"/>
        </div>
        <div>
            <label>연락처:</label>
            <input type="text" name="tel" value="<%= existingInfo.tel %>"/>
        </div>
        <div>
            <input type="submit" value="회원가입"/>
        </div>
    </form>
  </div>
</body>

</html>
